body {
    background-color: #DDD;
    ;
}

.master-container{
    
}

.container{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.photos-container {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
    
}

.photo-container {
    display: flex;
    width: 40vw;
    border: 2px solid #AAA;
    margin: 10px 20px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;   
    overflow: hidden;
}

.photo-container img {
    object-fit: contain;
    width: 100%;
    transition: ease-in-out 0.7s;
}

.photo-container img:hover {
    transform: scale(1.1);
}

.avoid-clicks {
    /* pointer-events: none; */
}

.lightroom-container{
    /* visibility: hidden; */
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.lightroom-image{
    
    max-width: 60vw;
    z-index: 5;
    cursor: -webkit-zoom-in;
    transition: ease-in-out 0.4s;
}

.zoom-image{
    transform: scale(1.5);
    cursor: -webkit-zoom-out;
}

.show-lightroom {
     visibility: visible; 
     display: flex;
}



.lightroom-pic{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    background-size: 100%;
    min-width: 800px;
    min-height: 600px;
    cursor: -webkit-zoom-in;
}

.zoom-lightroom-pic{
    background-size: 200%;
    cursor: -webkit-zoom-out;
    
}